body{
    background-image: url("/assets/images/final.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
  
}
